*{
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

:root{
    --bs-primary-rgb: 151,71,255;
    --bs-info-rgb:#161418;
    --bs-success-rgb:27, 26, 30;
    --font1:#A7A7A9;
}
body{
    background: linear-gradient(90deg, rgba(49,37,34,1) 0%, rgba(49,37,34,1) 18%, rgba(21,20,23,1) 100%);
}
.arrow{
    transform: rotate(320deg);
}
.hov-1 a{
    color:white;
    transition: all 1s;
}
.hov-1 a:hover{
    color: #9747ff;
}
.hov-1 svg:hover{
    fill: #9747ff;
}
.a-hover svg:hover{
    fill: #9747ff;
}
.a-hover .icon:hover{
    border: 2px solid #9747ff;
}
.card{
    width: 100px;
    padding: 10px;
    margin:10px;
}
.row{
    padding-right: 0px;
    padding-left: 0px;
}

.banner .bg{
    background-image: url('../image/s-shape3.webp');
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 20px;
}
.drop{
   
    position: absolute;
    width:150px;
    background-color: white;
    top:150%;
    left: 0px;
    z-index: 9999;
    border: 1px solid rgb(199, 192, 192);
    background-color:#1B1A1E;
    box-shadow: 0 4px 8px 0 rgba(234, 225, 225, 0.2), 0 6px 20px 0 rgba(244, 242, 242, 0.19);
    display: none;
}
.drop li a{
    text-decoration: none;
    color:white;
}
.drop{
    opacity: 0;
    visibility: hidden;
    transition: all 5s;
}
.sub-hov:hover .drop{
    display: block;
    opacity: 1;
    visibility: visible;

}
canvas{
    position: absolute;
    top: 0px;
    z-index: -1;
}
.logo{
    width: 80px;
    height: 80px;
    display: inline-block;
}